.nav-card-container{
    height: fit-content;
    width: fit-content;
    padding: .5rem .8rem;
    border-radius: 1rem;
    box-shadow: 
                6px 6px 12px #0a071e,
                -6px -6px 12px #251d66;
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
}

.nav-card-container:hover{
    transform: scale(1.1);
}

.nav-card-container:active {
    box-shadow: 
      inset 6px 6px 12px #0f0b2e,
      inset -6px -6px 12px #251d66;
  }